/* Font family & background color for website */
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(214, 255, 255);
}

/* Main headers background color */
h1,
h2 {
    background-color: #ffd7bf;
}

/* Resize homepage image */
#home-img {
    height: 700px;
    width: auto;
}

/* Resize recipe images */
#doubles-img,
#pelau-img,
#currant-img {
    height: 600px;
    width: auto;
}